.modal {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 270px;
    border: 1px solid black;
}
.hidden {
    display: none;

}
p, ul{
    margin:0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    border: 1px solid black;
    width: 300px;
    height: 80vh;
    font-family: sans-serif;
}
.date {
    position: absolute;
}
.add__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: lightseagreen;
    margin-bottom: 20px;
}
.modal__btn {
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    position: relative;
}
.container__footer{
    position: fixed;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.container__list {
    display: flex;
    justify-content: center;
}
.falseCheckbox{
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:2px solid lightseagreen;
    margin:10px;
}
.task__container{
    display: flex;
    align-items: center;
}
.items__list{
    align-items: flex-start;
    width: 250px;
    margin-top: 50px;
    color: grey;
    font-weight: 600;
    
}
/* .disableTaskCircle {
    
} */
.disableTaskP {
    text-decoration:line-through;
    color: lightgray;
}